.heading {
    text-align: center;
    margin-bottom: 20px;
}
form {
    width: 85%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #f9f9f9;
}

label {
    display: block;
    margin-bottom:5px;
    font-weight: bold;
}

input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: -8px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    background: blue;
    color: white;
}

button:disabled {
    background: #ccc;
    cursor: not-allowed;
}